div.book-item {
  background-color: beige;
  padding: 15px;
  border-radius: 5px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  font-size: large;
  color: blueviolet;
  text-align: center;
}

button {
  background-color: brown;
  border: none;
  margin: 20px 5px 5px 5px;
  padding: 5px;
  color: white;
  border-radius: 5px;
}

button:hover {
  background-color: brown;
}

button:active {
  transform: scale(0.95);
}
